{% extends 'base.html' %}
{% block style %}
<style>
	.center {
		height: 400px;
		width: 400px;
		background: #BBDEFB;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -170px;
		margin-left: -200px;
	}

	.form{
		padding-top: 50px;
		padding-right: 30px;
		padding-bottom: 50px;
		padding-left: 30px;
	}

	.button {
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.button1 {
		background-color: white;
		color: black;
	}

	.button1:hover {
		background-color: #4CAF50;
		color: white;
	}

	.button3 {
		background-color: white;
		color: black;
	}

	.button3:hover {
		background-color: #F44336;
		color: white;
	}

	.ip{
		background-color: #fffff; /* Green */
		border: none;
		color: black;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s; /* Safari */
	}

	</style>
{% endblock %}

{% block banner %}
<div align="center" class="form">
	<form action="" method="get">
		<button type="button" id="D1-on" class="button button1" >D1 ON</button>
		<button type="button" id="D1-off" class="button button3" >D1 OFF</button>
		<br>
		<button type="button" id="D2-on" class="button button1" >D2 ON</button>
		<button type="button" id="D2-off" class="button button3" >D2 OFF</button>
		<br>
		<button type="button" id="D3-on" class="button button1" >D3 ON</button>
		<button type="button" id="D3-off" class="button button3" >D3 OFF</button>
		<br>
	</form>
	<br><br>
</div>
{% endblock %}

{% block scripts %}
<script>
		document.getElementById('D1-on').addEventListener('click', function() {
				var url = "http://127.0.0.1:8000/dashboard/toggle/?num=1&sta=on";
				$.getJSON(url, function(data) {
					console.log(data);
				});
		});

		document.getElementById('D1-off').addEventListener('click', function() {
				var url = "http://127.0.0.1:8000/dashboard/toggle/?num=1&sta=off";
				$.getJSON(url, function(data) {
					console.log(data);
				});
		});


		document.getElementById('D2-on').addEventListener('click', function() {
				var url = "http://127.0.0.1:8000/dashboard/toggle/?num=2&sta=on";
				$.getJSON(url, function(data) {
					console.log(data);
				});
		});

		document.getElementById('D2-off').addEventListener('click', function() {
				var url = "http://127.0.0.1:8000/dashboard/toggle/?num=2&sta=off";
				$.getJSON(url, function(data) {
					console.log(data);
				});
		});


		document.getElementById('D3-on').addEventListener('click', function() {
				var url = "http://127.0.0.1:8000/dashboard/toggle/?num=3&sta=on";
				$.getJSON(url, function(data) {
					console.log(data);
				});
		});

		document.getElementById('D3-off').addEventListener('click', function() {
				var url = "http://127.0.0.1:8000/dashboard/toggle/?num=3&sta=off";
				$.getJSON(url, function(data) {
					console.log(data);
				});
		});
</script>
{% endblock %}



